#Header{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
}
#LeftNav{
    width: 400px;
    margin-bottom: 10px;
    border: solid 8px black;
    float: left;
    text-align: center;
    padding-bottom: 8px;
}
#Content{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-align: center;
    padding: 15px;
}
#Footer{
    border: solid 8px black;
    text-align: center;
}
ul{
    list-style-type: none;
    padding-left: 0px;
}
#Header h1{
    font-size: 60px;
    font-family: "Passion One";
    color: #FFBC00;
    font-weight: bold; 
}
p{
    color: white;
    font-family: "Arial";
}
h3{
    font-size: 40px;
    font-family: "Passion One";
    color: #FFBC00;
    margin-bottom: 0px;
}
div{
    background-color: #8E41D5;
}
body{
    background-image: url('dark_wood.png');
}
a{
    color: white;
    font-size: 24px;
    font-weight: bold; 
}